{{template "base" .}}

{{define "content"}}
    <form action="/api/v1/create_url" method="post">
        <label for="url_input">Put the url</label>

        <input required id="url_input" name="url" type="text" />
    
        <input type="submit" class="submit" />
    </form>
{{end}}